body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-1;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main{
        font-size: 6rem;
        letter-spacing: 3.5rem;
        font-weight: 400;
        display: block;
        animation: moveInLeft 1s;

        @include respond (iPhone-se){
            text-align: center;
            font-size: 8rem;
            letter-spacing: 2.25rem;
        }

        @include respond (moto-g4){
        font-size: 10rem;    
        letter-spacing: 2.25rem;
        }

        @include respond (iPhone){
        font-size: 10rem;    
        letter-spacing:2.25rem;
        }

        @include respond (pixel-2){
        font-size: 7rem;    
        letter-spacing: 1.5rem;
        
        }

        @include respond (iPhone-plus){
        font-size: 7rem;    
        letter-spacing: 1.6rem;
        }

        @include respond (phone){
        font-size: 6rem;    
        
        }

        @include respond (tab-port){
        font-size: 7.5rem;    
        letter-spacing: 2rem;
        }

    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s;

        @include respond (iPhone-se){
            font-size: .1rem;
            letter-spacing: .5rem;
        }

        @include respond (moto-g4){
        font-size: .2rem;
        letter-spacing: 1rem;    
        }

        @include respond (iPhone){
        font-size: .2rem;    
        letter-spacing: 1rem;
        }

        @include respond (pixel-2){
        font-size: 2rem;    
        letter-spacing: 1rem;
        }
        
        @include respond (iPhone-plus){
        font-size: 2rem;    
        letter-spacing: 1rem;
        }

        @include respond (phone){
        font-size: 2rem;    
        }

        

    

        @include respond (tab-port){
            font-size: 2.8rem;    
            letter-spacing: 1rem;
            }
    
    }
}

.heading-secondary{
   background: linear-gradient(to right, $color-primary-light ,$color-primary-dark);
  -webkit-background-clip: text;
   color: transparent;
   transition: all 0.2s;
   font-size: 3.5rem;
   font-weight: 700;
   letter-spacing: .2rem;
   text-transform: uppercase;

   @include respond (iPhone-se){
       font-size: 4.5rem;
       width: 96%;
       text-align: center;
   }

   @include respond (moto-g4){
   font-size: 5rem;    
   text-align: center;
   width: 96%;
   }

   @include respond (iPhone){
   font-size: 5rem;    
   text-align: center;
   width: 96%;
   }

   @include respond (pixel-2){
   font-size: 3.5rem;    
   text-align: center;
   }

   @include respond (iPhone-plus){
   font-size: 3.5rem;    
   text-align: center;
   }

   @include respond (phone){
   font-size: 3.2rem;
   text-align: center;
   }

   @include respond (tab-port){
   font-size: 4rem;    
   text-align: center;
   }

   @include respond (tab-land){
   text-align: center;    
   width: 100%;
   font-size: 3.2rem;
   }

   &:hover{
       transform: skewY(2deg) skewX(15deg) scale(1.1);
       text-shadow: .5rem 1rem 2rem rgba($color-black , 0.2);
   }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    @include respond (iPhone-se){
    font-size: .2rem;    
    }

    @include respond (tab-port){
    font-size: 2.2rem;    
    }

    @include respond (tab-land){
    font-size: 2.2rem;
    }
}

.paragraph{
    font-size: 1.6rem;
    text-align: justify;
    &:not(:last-child){
        margin-bottom: 3rem;
    }

    @include respond (iPhone-se){
    font-size: 1.6rem;    
    }      
    
    @include respond (tab-port){
    font-size: 2rem;    
    }

    @include respond (tab-land){
        font-size: 2.1rem;
        }
}


   

